p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* https://forum.posit.co/t/set-non-collapsed-right-navigation-in-bs4-book/184739/2 */

@media (min-width: 576px) {
  .nav {
    display: flex !important;
    display: -webkit-flex !important;
  }
  .nav:not(.nav-stacked):not(.flex-column) {
    float: none !important;
  }
  .nav:not(.nav-stacked):not(.flex-column)>.bslib-nav-spacer {
    margin-left: auto !important;
  }
  .nav:not(.nav-stacked):not(.flex-column)>.form-inline {
    margin-top: auto;
    margin-bottom: auto;
  }
  .nav.nav-stacked {
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
  }
  .nav.nav-stacked>.bslib-nav-spacer {
    margin-top: auto !important;
  }
}

/* underline links... */
main p a, main li a {
  text-decoration: underline;
}

/* ...except in footnotes */
a.footnote-ref{
  text-decoration: none !important;
}

/* adjust spacing in alert boxes */
.note>:first-child::before {
  content:"Note: ";
  font-weight: bold;
  padding-right: .2em;
}
.tip>:first-child::before {
  content:"Tip: ";
  font-weight: bold;
  padding-right: .2em;
}
.alert>:last-child {
  margin-bottom:0rem;
}

/* center images */
img{
  width:90%;
  margin-left:5%;
  margin-right:5%;
}

/* deborder images */
.inline-figure{
  border: none !important;
}

/* tweak bullets */
main ul{
  list-style-type: disc !important;
}
main ul ul{
  list-style-type: circle !important;
}

/* increase body width */
@media (min-width: 1200px) {
    .container-fluid main {
        max-width: 50rem;
    }
}


/* tweak code+output style */
div.sourceCode{
  margin-left: 0rem;
}
pre{
  margin-left: 0rem;
}
pre.sourceCode{
  background-color: #f6f6f6 !important;
}
div.sourceCode > pre.sourceCode{
  margin-bottom: 0rem !important;
}
div.sourceCode + pre{
  background-color: unset !important;
  background-image: unset !important;
  margin-top: 0.2rem !important;
}
div.sourceCode + p{
  margin-top: 1rem !important
}
.sourceCode + .alert{
  margin-top: 1rem !important;
}
.alert code{
  background-color: rgba(255,255,255,.6) !important;
}
.alert .sourceCode .sourceCode code.sourceCode{
  background-color: unset !important;
}
div.alert pre{
  background-color: rgba(255,255,255,.7) !important;
}

/***** REMEMBER TO REMOVE LATER!! *****/
main > div[class*="section level1"] {
    padding-bottom: 500px;
}

/* improve heading margins for legibility */
h2{
  margin-top: 3rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.7rem !important;
}
h3{
  margin-top: 2.5rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.4rem !important;
}