a{
  color:#800000;
}

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* https://forum.posit.co/t/set-non-collapsed-right-navigation-in-bs4-book/184739/2

@media (min-width: 576px) {
  .nav {
    display: flex !important;
    display: -webkit-flex !important;
  }
  .nav:not(.nav-stacked):not(.flex-column) {
    float: none !important;
  }
  .nav:not(.nav-stacked):not(.flex-column)>.bslib-nav-spacer {
    margin-left: auto !important;
  }
  .nav:not(.nav-stacked):not(.flex-column)>.form-inline {
    margin-top: auto;
    margin-bottom: auto;
  }
  .nav.nav-stacked {
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
  }
  .nav.nav-stacked>.bslib-nav-spacer {
    margin-top: auto !important;
  }
}
*/


/* increase body width */
/* chosen so that 80% width
   matches fig.width=6 */
/* fix some other sizing
   discontinuities */

@media (min-width: 1200px) {
  .container-fluid main {
    max-width: 66.66667%;
  }
}
@media (min-width: 1306px) {
  .container-fluid main {
    max-width: 54.376rem;
  }
}
@media (max-width: 767.98px) {
  .section > .sourceCode > pre {
    margin-left: 0rem !important;
    margin-right: 0rem !important;
    width: unset !important;
  }
}


body{
  line-height:1.5;
}

div.paths pre{
  line-height:1.2;
}

main li{
  margin-bottom: 0.3rem;
}

ol+div.alert,ul+div.alert,p+div.alert{
  margin-top:1rem;
}

/* underline links... */
main p a, main li a, div.popover a{
  text-decoration: underline;
  text-decoration-thickness: from-font;
}
p code.sourceCode span,li code.sourceCode span{
  color: #212529 !important;
}
p a:has(>code.sourceCode),li a:has(>code.sourceCode){
  color: #212529 !important;
  text-decoration-color: #ccc;
}
a{
  text-underline-offset:12%;
}

/* ...except in footnotes */
a.footnote-ref{
  text-decoration: none !important;
}

/* adjust spacing in alert boxes */
.note>:first-child::before {
  content:"Note: ";
  font-weight: bold;
  padding-right: .2em;
}
.tip>:first-child::before {
  content:"Tip: ";
  font-weight: bold;
  padding-right: .2em;
}
.def>:first-child::before {
  content:"Definition: ";
  font-weight: bold;
  padding-right: .2em;
}
.alert>:last-child {
  margin-bottom:0rem;
}

/* center and resize images */
img{
  width:80%;
  margin-left:10%;
  margin-right:10%;
}
img.i6{
  width:60%;
  margin-left:20%;
  margin-right:20%;
}


/* adjust image style */
.inline-figure{
  border: none !important;
  margin-top:.5rem;
}

/* tweak bullets */
main ul{
  list-style-type: disc !important;
}
main ul ul{
  list-style-type: circle !important;
}

ul+p,ol+p{
  margin-top:1.2rem;
}


/* tweak code+output style */
div.sourceCode{
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}
pre{
  margin-left: 0rem;
  margin-right: 0rem;
}

pre.sourceCode{
  background-color: #f6f6f6 !important;
}
div.sourceCode > pre.sourceCode{
  margin-bottom: 0rem !important;
}
div.sourceCode + pre{
  background-color: unset !important;
  background-image: unset !important;
  margin-top: 0.2rem !important;
  margin-bottom: 0.75rem !important;
}
div.sourceCode + p{
  margin-top: 1rem !important
}
.sourceCode + .alert{
  margin-top: 1rem !important;
}
.alert p code{
  background-color: rgba(255,255,255,.6) !important;
}
.alert .sourceCode .sourceCode code.sourceCode{
  background-color: unset !important;
}
div.sourceCode + div.sourceCode{
  margin-top: 0.5rem !important;
}

p:has(+ul),p:has(+ol){
  margin-bottom:.5rem;
}


pre.message,pre.warning{
  background-color: unset !important;
  background-image: unset !important;
  margin-top: 0.2rem !important;
  margin-bottom: 0 !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
pre.message+pre,pre.warning+pre{
  background-color: unset !important;
  background-image: unset !important;
  margin-top: 0 !important;
  border-top: none !important;
  padding-top: 0 !important;
}
pre.message:has(+div.sourceCode),pre.warning:has(+div.sourceCode){
  border-bottom: 1px solid #eee !important;
}
pre.message+div.sourceCode,pre.warning+div.sourceCode{
  margin-top: 1rem !important;
}

div.alert pre{
  background-color: rgba(255,255,255,.7) !important;
}

/* improve heading margins for legibility */
main#content h2{
  margin-top: 3.5rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.7rem !important;
}
h3{
  margin-top: 2.5rem !important;
  margin-bottom: 1rem !important;
  font-size: 1.4rem !important;
}
h4{
  margin-top: 2rem !important;
  font-size: 1.2rem !important;
  font-style: italic;
}
h2+div>h3{
  margin-top: 1em !important;
}

.wrapCode,pre.wrapcode code{
  text-wrap: wrap;
}

/* https://codepen.io/dudleystorey/pen/gkrsq */
span.k {
  font-family: "Roboto Mono","Georgia",serif;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0 0.3em;
  margin: 0 0.1em;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  background-color: #fafafa;
}

tr.header th[align="center"]{
  line-height:1.2;
}

/* https://stackoverflow.com/questions/36121672/set-table-column-width-via-markdown */
#knitr-options table colgroup col:first-of-type{
    width: 15% !important;
}
#knitr-options table colgroup col:nth-of-type(2){
    width: 25% !important;
}
#knitr-options table colgroup col:nth-of-type(3){
    width: 60% !important;
}
#knitr-options th[align="left"]{
  text-align: center;
}
#knitr-options td[align="left"]{
  text-align: justify;
}


/* tighten datasets list */
div#datasets-list li,div#eruptions-example > ul:first-of-type li{
  margin: 0 !important;
}
div#datasets-list li code,div#eruptions-example > ul:first-of-type li code{
  background-color: unset !important;
}

div#datasets li:nth-last-of-type(1),div#eruptions-example > ul:first-of-type li:nth-last-of-type(1){
  margin-bottom: 0.5rem !important;
}


ul.book-toc > li{
  margin-left: .5rem !important;
  margin-bottom: .3rem !important;
}

ul.book-toc > li:not(:has(span.header-section-number)) {
  margin-left: 0rem !important;
  margin-top: 1.2rem !important;
}


/* REMEMBER TO REMOVE LATER!! */
main > div[class*="section level1"] {
    padding-bottom: 500px;
}


/* https://stackoverflow.com/a/37839683/25278020 */

.showopt {
  background-color: #004c93;
  color: #FFFFFF; 
  width: 100px;
  height: 20px;
  text-align: center;
  vertical-align: middle !important;
  float: right;
  font-family: sans-serif;
  border-radius: 8px;
}

.showopt:hover {
    background-color: #dfe4f2;
    color: #004c93;
}

pre.plot {
  background-color: white !important;
}

.anchor{
  display:none!important;
}
a.anchorjs-link{
  margin-left:0!important;
}